﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="navegacion.ascx.cs" Inherits="comercio.controlusuario.navegacion" %>
<asp:TreeView ID="TreeView1" runat="server" OnSelectedNodeChanged="TreeView1_SelectedNodeChanged">
</asp:TreeView>

