﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="addanimales.aspx.cs" Inherits="comercio.animales.addanimales" %>

<%@ Register src="../controlusuario/navegacion.ascx" tagname="navegacion" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            height: 23px;
        }
        .auto-style3 {
            width: 159px;
        }
        .auto-style4 {
            height: 23px;
            width: 159px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td class="auto-style3" rowspan="2">
                    <uc1:navegacion ID="navegacion1" runat="server" />
                </td>
                <td class="auto-style3">Nombre : </td>
                <td>
                    <asp:TextBox ID="txtnombre" runat="server" Width="286px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style4">Categoria</td>
                <td class="auto-style2">
                    <asp:DropDownList ID="DropDCategoria" runat="server" Height="17px" Width="147px">
                    </asp:DropDownList>
                </td>
            </tr>
        </table>
        <br />
    
    </div>
    </form>
</body>
</html>
