﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="addcategoria.aspx.cs" Inherits="comercio.animales.addcategoria" %>

<%@ Register src="../controlusuario/navegacion.ascx" tagname="navegacion" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 85px;
        }
    </style>
</head>
<body>
            <form id="form1" runat="server">
    <div>
        <table class="auto-style1">
            <tr>
                <td class="auto-style2" rowspan="4">
        <uc1:navegacion ID="navegacion1" runat="server" />
                </td>
                <td><asp:Label ID="LabelNombre" runat="server" Text="Nombre :"></asp:Label>
                </td>
                <td>
        <asp:TextBox ID="TextBoxnombreC" runat="server" Height="22px" style="margin-left: 0px" Width="174px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
        <asp:Label ID="LabelDescripcion" runat="server" Text="Descripcion : "></asp:Label>
                </td>
                <td>
        <asp:TextBox ID="TextBoxdescripcionC" runat="server" Height="77px" Width="172px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
        <asp:Label ID="Label1" runat="server" Text="Foto"></asp:Label>
                </td>
                <td>
        <asp:FileUpload ID="FileUploadfotoC" runat="server" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td> <asp:Image ID="ImageFotoC" runat="server" Height="143px" Width="169px" />
                </td>
            </tr>
        </table>

    </div>
        <br />
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
        <br />
        <br />
        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <br />
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
    </form>
    <div>
    </div>

</body>
</html>
